*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.Heading{
    font-size: 45px;
    font-weight: 900;
    color: #fff;
}
.Content{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    color: #fff;
}
/* top */
body{
    background: black!important;
}
a:hover{
    color: white!important;
}
.top{
    height: 100vh;
    background-image:linear-gradient(rgba(37, 32, 32, 2),rgba(0, 0, 0, 0.6)),url(./img/top.jpg);
    background-position: center;
    background-size: cover;
}
.Header{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.nav H1{
    font-size: 35PX;
    font-weight: 900;
    color: rgb(236, 26, 26);
    background:transparent;
    margin-top: 10px;
}
.right_nav{
    display: flex;
    gap: 22px;
    margin-top: 15px;
}
.btn1{
     display:flex;
     align-items: center;
     gap: 6px;
     height: 30px;
     padding: 0 9px;
     background: transparent;
     color: white;
     border: 0.1px solid white;
     font-size: 15px;
}
.btn1 img{
    filter:contrast(5%) ;
}
.btn2{
    text-decoration: none;
    background: red;
    color: white;
    height: 30px;
    padding: 0 9px;
    font-size: 15px;
    font-weight: 600;
    border: 0.5px solid transparent;
    border-radius: 2px;
    transition: 0.5s;
}
.btn2:hover{
    background: rgb(192, 24, 24);
}
.text_info{
    width: 80%;
    margin: auto;
    text-align: center;
    line-height: 40px;
    color: white;
    position: relative;
    top: 30%;
}
.text_info h1{
    font-size: 49px;
    font-weight: 900;
}
.text_info p{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}
.lower_menu{
    position: relative;
    top: 30%;
    width: 80%;
    margin:12px  auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.lower_menu input{
    background:transparent;
    width: 30%;
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    font-size: 16px;
    padding: 8px;
}
.lower_menu button{
    padding: 13px 16px;
    background: red;
    color: white;
    border: 0.5px solid transparent;
    border-radius: 10px;
    font-weight: 600;
    font-size: 23px;
    transition: 0.5s;
}
.lower_menu button:hover{
    background: rgb(192, 24, 24);
}


.HR{
    background-color: #232323!important;
    height: 10px;
    outline: none;
    border: none;
}


.Container{
    width: 85%;
    margin:auto;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.left{
    flex-basis: 45%;
}
.Right {
    flex-basis: 45%;
}




.container1 {
    width: 85%;
    margin: auto;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left1 {
    flex-basis: 45%;
}

.right1 {
    flex-basis: 45%;
}


.accbtn{
    background-color: #414141!important;
    height: 77px;
     border: none;
     outline: none;
}
@media(max-width:700px){
    .Heading {
            font-size: 30px;
           text-align: center;
        }
     .Content {
            font-size: 17px;
            text-align: center;
        }
    .top{
        height: 78vh;
    }
    .Header{
        width: 90%;
    }
    .nav H1{
        font-size: 25PX;
    }
    .right_nav{
        gap: 7px;
    }
    .btn1{
         gap: 6px;
         height: 30px;
         font-size: 10px;
         width: 95px;
    }
    .btn2{
        font-size: 10px;
    }
    .text_info{
        line-height: 30px;
        position: relative;
        top: 15%;
    }
    .text_info h1{
        font-size: 30px;
    }
    .text_info p{
        font-size: 17px;
    }
    .lower_menu{
        position: relative;
        top: 20%;
        width: 85%;
        display: flex;
        flex-direction: column;
        gap: 17px;
    }
    .lower_menu input{
        background:rgba(0, 0, 0, 0.166);
        width: 85%;
        height: 46px;
        margin: auto;
    }
    .lower_menu button{
        padding:11px;
        background: rgb(227, 38, 38);
        border-radius: 6px;
        width: 140px;
        font-size: 16px;
        font-weight: 400;
        margin: auto;
    }
    .lower_menu button:hover{
        background: rgb(255, 17, 17);
    }




        .Container {
            width: 85%;
            height: 70vh;
        }
    
        .left {
            flex-basis: 100%;
            margin-top: 24px;
        }
    
        .Right {
            flex-basis: 100%;
            margin-bottom: 24px;
        }



        .container1 {
            width: 85%;
            height: 70vh;
            flex-wrap: nowrap;
            flex-direction: column-reverse;
        }
        
        .left1 {
            flex-basis: 100%;
            margin-bottom: 24px;
        }
        
        .right1 {
            flex-basis: 100%;
            margin-top: 38px;
        }
        
        
    
}
